[data-rehype-pretty-code-figure] pre {
	padding: 1rem 0;
	overflow-x: auto;
	font-size: 0.875rem;
	line-height: 1.5;
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	background: transparent;
}

[data-rehype-pretty-code-figure] code {
	display: grid;
	background: transparent;
	counter-reset: line;
	box-decoration-break: clone;
}

[data-rehype-pretty-code-figure] .line {
	padding: 0 1rem;
}

[data-rehype-pretty-code-figure] [data-line-numbers] > .line::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	margin-right: 1rem;
	text-align: right;
	color: #71717a;
}

[data-rehype-pretty-code-title] {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
	font-weight: 500;
	font-family: var(--font-mono), ui-monospace, monospace;
}

[data-rehype-pretty-code-title] + pre {
	margin-top: 0;
}
